/* Subreddits.css */

.subreddits {
  padding-top: 8px;
  background-color: white;
  font-size: 1.2rem;
  height: fit-content;
}

.subreddits ul {
  list-style: none;
  padding: 0;
}

.subreddits li {
  font-size: 1rem;
  color: #666;
  cursor: pointer;
  padding: 20px 10px;
  font-weight: bold;
}

.subreddits li:hover {
  background-color: rgba(204, 204, 204, 0.241);
}

.subreddits li.active {
  color: #0037ff;
  background-color: #0037ff30;
  border-left: 5px solid #0037ff;
}

.list {
  display: flex;
  flex-direction: column;
}

/* Mobile Adaptations */
@media screen and (max-width: 768px) {
  .subreddits {
    padding: 0; /* Remove top padding */
    margin: 0 auto; /* Center the component */
    align-items: center;
    margin: 0;
    margin-bottom: 20px;
    height: fit-content;
  }

  .subreddits h2 {
    margin-top: 20px; /* Add margin above the title for spacing */
    text-align: center; /* Center align the title */
  }

  .subreddits ul {
    padding: 0 20px; /* Add horizontal padding to the list */
  }

  .subreddits li {
    padding: 15px 10px; /* Adjust padding for mobile */
  }

}
